* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: monospace;
  text-align: center;
}

body {
  background-color: black;
  color: white;

  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

body > * {
  margin: 10px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.tile {
  /* background-color: white; */
  border: 0.5px dotted white;
  font-size: 15px;

  width: 24px;
  height: 24px;
  margin: 1.5px;
}

.tile:hover {
  border: 0.5px dotted red;
}

.item {
  opacity: 50%;
}

.item:hover {
  opacity: 100%;
}

h1 {
  color: white;
}
