* {
  box-sizing: border-box;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ships {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

#four,
#three,
#two,
#one {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#element {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

#playerBoard {
  margin: 20px;
}

#botBoard {
  display: none;
  margin: 20px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

#row {
  width: 500px;
  height: 50px;
  display: flex;
}

#el {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

#elHighlighted {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: blue;
}

#elClicked {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: black;
}

#elDisabled {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.ship {
  background-color: black;
}
