* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body {
    height: 1000px;
}

.leftDiv {
    position: absolute;
    left: 0;
    background-color: grey;
    width: 49vw;
    height: 100vh;
}

.middleDiv {
    position: absolute;
    left: 48vw;
    background-color: blue;
    width: 2vw;
    height: 100vh;
}

.rightDiv {
    position: absolute;
    right: 0;
    background-color: yellow;
    width: 49vw;
    height: 100vh;
}